/* menu style */
.menu {
    position: sticky;
    top: 0;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

.menu li a:hover:not(.active) {
    background-color: #111;
}

.menu .active {
    background-color: #4CAF50;
}

.fb-container {
    padding: 2px 16px;
}

.twitter-container {
    padding: 2px 0;
}

/* main style */
body {
    color: #000;
    font-family: "Noto Sans", Arial, sans-serif;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

main {
    margin: 0 auto;
    width: 847px;
}

main.home-container {
    display: flex;
    max-width: 1139px;
    width: 100%;
}

main.home-container aside iframe {
    width: 93%;
    height: 530px;
    border: 1px solid black;
    margin: 0;
}

main.home-container aside .map-container {
    padding: 3px;
}

.right,
.left {
    margin: 0 10px
}


.left {
    flex-basis: 23%;
}

.right {
    flex-basis: 74%;
}

.right-content,
.main-image {
    max-width: 813px;
}

.left-nav ul {
    background: #ededed;
    list-style: none;
    margin: 0;
    padding: 5px 0;
}

.left-nav ul li a {
    color: #000;
    display: block;
    padding: 4px 12px 4px 25px;
    position: relative;
}

.left-nav ul li a:not([href="#"]){
    font-weight: bold; 
} 

.left-nav ul li a[href="#"]{
    cursor: not-allowed;
    pointer-events: none;
} 

.left-nav ul li a:before {
    border-top: 5px solid transparent;
    border-left: 5px solid #4c4c4c;
    border-bottom: 5px solid transparent;
    content: '';
    display: block;
    position: absolute;
    top: 9px;
    left: 12px;
}


figure {
    margin: 0;
    padding: 0;
}

iframe {
    width: 100%;
    margin: 12px auto 12px auto;
}

/* footer */
footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

[data-key="where-we-are"] footer {
    position: fixed;
    left: 0;
    bottom: 0;
}

footer div {
    width: 847px;
    margin: 0 auto;
}

footer a {
    color: white;
}